@{
    ViewData["Title"] = "Cadastro";
}
<body>
    <div class="name-input-container" style="display: flex; flex-direction: column; width: 300px;">Nome:
        <input type="text" id="name" name="name" placeholder="Insira seu nome" style="width:
        400px; padding-left: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 20px; outline: none; transition: border-color 0.3s ease;"></div>
    <br>
    <div class="surname-input-container" style="display: flex; flex-direction: column; width: 300px;">Sobrenome:</div>
        <input type="text" id="surname" name="surname" placeholder="Insira seu sobrenome" style="width:
        400px; padding-left: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 20px; outline: none; transition: border-color 0.3s ease;"></div>
    <br>
    <div class="email-input-container" style="display: flex; flex-direction: column; width: 300px;">E-mail:</div>
        <input type="email" id="email" name="email" placeholder="Insira seu e-mail" style="width:
        400px; padding-left: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 20px; outline: none; transition: border-color 0.3s ease;"></div>
        <br>
    <div class="email-confirmation-input-container" style="display: flex; flex-direction: column; width: 300px;">Confirme o E-mail:</div>
        <input type="email" id="emailconf" name="emailconf" placeholder="Confirme seu email" style="width:
        400px; padding-left: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 20px; outline: none; transition: border-color 0.3s ease;"></div>
        <br>
    <div class="password-input-container" style="display: flex; flex-direction: column; width: 300px;">Senha:</div>
        <input type="email" id="password" name="password" placeholder="Crie uma Senha" style="width:
        400px; padding-left: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 20px; outline: none; transition: border-color 0.3s ease;"></div>
        <br>
    <div class="password-confirmation-input-container" style="display: flex; flex-direction: column; width: 300px;">Confirme a Senha:</div>
        <input type="email" id="passwordconf" name="passwordconf" placeholder="Confirme sua senha" style="width:
        400px; padding-left: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 20px; outline: none; transition: border-color 0.3s ease;"></div>


</body>