@{
    ViewData["Title"] = "Sejam bem vindos";
}
<body class="plantacao">
<div class="text-center">
    <head>
     
    <style>
        .seja {
            color: white;
            font-size: 100px;
        }

        .bem-vindo {
            color: green;
            font-size: 100px;
        }
    </style>
</head>

<h1>
    <span class="seja">Seja</span>
    <span class="bem-vindo">bem-vindo!</span>
</h1>
</body>