@{
    ViewData["Title"] = "Login";
}
<body class="background_login">
    <div class="Container_login ">
    <h1 style="font-size: 90px; font-family: Montserrat Arabic, sans-serif; padding: 10px; text-align: center; color: black;  margin-bottom: 20px; font-weight: bold">Juntando Tecnologia e sustentabilidade.</h1>
    <h2 style="color: aliceblue; font-size: 50px; font-weight: bold;">Efetue seu login</h2>
    </p>
    <p>
        <body>
    <div class="email-input-container style="display: flex; flex-direction: column; width: 300px;">
        <input type="email" id="email" name="email" placeholder="Insira seu e-mail cadastrado" style="width: 400px; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 20px; outline: none; transition: border-color 0.3s ease;">
    </div>
     </body>
    </p>
    <p>
        <body>
            <div class="senha-input-container style="display:#4dc3ff flex; flex-direction: column; width: 300px">
                <input type="senha" id="senha" name="senha" placeholder="Insira a sua senha cadastrada" style="width: 400px; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 20px; outline: none; transition: border-color 0.3s ease;">
            </div>
        </body>
    </p>
    </p>
    <p>
<button style="background-color: #4dc3ff; color: white; padding: 15px 30px; font-size: 18px; border: none; border-radius: 30px; cursor: pointer;">Acessar</button>
     </p>
     <p>
       <div style="margin-left: auto; color: black;">
             Esqueceu a senha?<a asp-area="" asp-controller="Home" asp-action="Privacy">Recuperar senha</a>
        </button>
     </p>
     <p>
             Não tenho cadastro ?- <a asp-area="" asp-controller="Home" asp-action="Privacy">Cadastrar</a>
     </p>
    </div>
    <div class="Container_login_left">
<h1>
<span class="temos">TEMOS UM</span>
<span class="compromisso">COMPROMISSO</span>
<span class="temos">COM A</span>
<span class="compromisso">SUSTENTABILIDADE</span>
<span class="temos">PARA CONTRIBUIR COM UM</span>
<span class="compromisso">FUTURO</span>
<span class="temos">MELHOR, ONDE O LIXO</span>
<span class="compromisso">ELETRÔNICO</span>
<span class="temos">NÃO SERÁ MAIS UM PROBLEMA.</span>
</h1>
    </div>
</body>

 